<body>
    <div class="wrapper">
        <header>Votes for {{username}}</header>
        <div class="container">
            <div class="progress">
                <div class="percent" style="width: 40%;"></div>
            </div>
            <div class="steps">
                <p>Yes: {{voteYes}}</p>
                <p>No: {{voteNo}}</p>
                <div class="step completed" id="0"></div>
                <div class="step completed" id="1"></div>
                <div class="step completed" id="2"></div>
                <div class="step selected" id="3"></div>
                <div class="step" id="4"></div>
                <div class="step" id="5"></div>
                <div class="step" id="6"></div>
                <div class="step" id="7"></div>
                <div class="step" id="8"></div>
                <div class="step" id="9"></div>
                <div class="step" id="10"></div>
                <div class="step" id="11"></div>
            </div>
        </div>
        <div>
            <br>
            <h3>Rules</h3>
            <p></p>
        </div>
    </div>