<body>

    <div class="wrapper">
        {%if username != ""%}
        <h1>VOTES</h1>
        <header>for {{username}}
            <h3>{{voteYes}}&#9989; {{voteNo}}&#10060;</h3>
            {%if voteYes+voteNo == 0%}
            <div class="star-rating" title="0%">
                {%else%}
                <div class="star-rating" title="{{votePercent}}%">
                    {%endif%}
                    <div class="back-stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>

                        <div class="front-stars" style="width: {{votePercent}}%">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
        </header>
        {%endif%}
        <div class="container">
            <br>
            <h3>Rules</h3>
            <p>Voting rule: Members can join the server based on a vote by the community</p>
            <ol>
                <li>The voting period is 24 hours long, less if an abundant amount of people have voted YES</li>
                <li>You pass the vote when you have 2 more YES votes than NO votes at the end of voting</li>
                <li>OR if you are not known by the server community, you only require 1 YES vote</li>
                <li>Votes are completely anonymous, trying to identify voters will result in a kick</li>
                <li> You cannot be voted in using an alternative account. Cannot try to continue to try to join the server after being denied</li>
                <li>There is a MAX of 50 users allowed in the server</li>
            </ol>
        </div>



        </div>


</body>