<!--<div class="topbar-col">
    <a href="myProfile.html"><i class="fa fa-user"></i>My Profile</a>
</div>
<div class="topbar-col">
    <a href="mySettings.html"><i class="fa fa-cog"></i>Settings</a>
</div>
-->
<!--<div class="topbar-col">
    <div class="topbar-social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
</div>-->